/*comment on css*/
body{
    background-color: #8BA1BB;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
*{
    overflow: auto;
}

p.categorie{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 20px;
   
   margin-bottom: 40px;
    font-weight: bold;
    font-size: large;
   
}
div.categorie{
    text-align: center;
    
    
    

}
div.titre{
    text-align: center;
    margin-top: 60px;
    margin-bottom: -60px;
}
.content{
    
    background-color: white;
    margin: 0px 10% 0 10%;
    padding: 30px;
    min-width:356px ;
    box-shadow: 0px 0px 10px 10px #00000011;

}
 div.ligne{
   
      background-color: black;
      width: 100px;
      height: 1px;
      margin-left: auto;
      margin-right: auto;
   
      
      
 }
h1{
    text-align: center;
    margin-bottom: 16px;
}

p.discription{
    text-align: center;
    max-width: 400px;
    font-size: 14px;
    
    display: inline-block;
   
}
div.discription {
    text-align: center;
    
   
}
div.parag{
   text-align: center;


}
p.parag{
    max-width: 450px;
    display: inline-block;
    
}
div.image{
    display: block;
    position: relative;
    text-align: center;
    background-color: black;

    
    
    

   
    
}
.img{
    display: block;
    height: 350px;
    width: 100%;  
    object-fit: cover;
    min-height: 400px;
    background-color: #8BA1BB;

}
.tab{
   position: absolute;
   bottom: 0;
   width: 100%;
   color: rgb(253, 253, 253);
   background-color: #548fd844;
   height: 60px;
   
 
 
    
}
div.colonne1,div.colonne2{
    
    width: 45%;
}
div.colonne1{
    
    display: inline-block;
    margin-right: 10%;
}
div.colonne2{
    
    float: right;
}
div.colonne h2{
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: #548fd8 solid 5px ;
    
}
div.ingredients p{
    text-align: center;
    font-weight:600;
    font-size: 14px;
    border: 1px solid #548fd844 ;
    padding: 5px 0;
    margin-top: 3px;
    margin-bottom: 0px;
}
table.preparation p.num{
    background-color: #8BA1BB;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;

}
table.preparation td{
    vertical-align: top;
    
}
table.preparation td.ingre{
    padding-left: 15px;
    font-weight:600;
    font-size: 14px;



}
table.preparation tr{
    height: 30px;
}
